<!DOCTYPE html>
<html>
<head>
    <title>Earth.pics - Images of planet earth in chrome tabs </title>
    <link href="styles/extension.css" rel="stylesheet">
    <link href="styles/settings.css" rel="stylesheet">
    <link rel="shortcut icon" href="icons/mountain.ico">

</head>

<body class="earth" id="vm-settings">
    <div class="image" id="initial-load-image"></div>
    <earth-image v-for="image in image_data"
        :align="align"
        :cached_image_url="cached_image_url"
        :image_url="image.preferred_image_url"
        :permalink="image.permalink"
        :author="image.author"
        :title="image.title"
        :is_administrator="image.is_administrator"
        :contain_image="image.contain_image">
    </earth-image>

    <section class="settings" v-show="show_main_index > 0" v-bind:class="{active: show_main_index > 0}">
        <main v-bind:class="{saved_css: border_css === 'saved', too_restrictive: border_css === 'restrictive'}">

        <form v-on:submit.prevent="submitSettings" v-show="show_main_index === 1">
            <span title="Hide settings"
                  v-on:click="show_main_index = 0" class="close-btn large"></span>
            <span title="Refresh background image"
                  v-on:click="refreshImage" class="refresh-btn"></span>
            <header>
                <h1>Settings</h1>
            </header>
            <nav>
                <div v-on:click.prevent="filterNav = 0">
                    <button v-bind:class="{active: filterNav === 0}" id="all-button" tabindex="-1">
                        General</button>
                    <span class="check-mark"></span>
                </div>
                <div v-on:click.prevent="filterNav = 1" v-bind:class="{selected: allow_reddit}">
                    <button id="reddit-btn"
                            title="Reddit"
                            v-bind:class="{active: filterNav === 1}">
                        </button>
                    <span v-bind:class="{active: allow_reddit, hide: hide_ratios}"
                          class="ratio" v-text="ratio_reddit + 'x'"
                        title="indicates the relative frequency to other image type"></span>
                    <div class="check-mark"></div>
                </div>
                <div v-on:click.prevent="filterNav = 2" v-bind:class="{selected: allow_apod}">
                    <button id="apod-btn"
                            title="A.P.O.D."
                            v-bind:class="{active: filterNav === 2}">
                        </button>
                    <span v-bind:class="{active: allow_apod, hide: hide_ratios}"
                            class="ratio" v-text="ratio_apod + 'x'"
                            title="indicates the relative frequency to other data source"></span>
                    <div class="check-mark"></div>
                </div>
                <div v-on:click.prevent="filterNav = 3" v-bind:class="{selected: allow_wiki}">
                    <button title="Wikipedia" id="wiki-btn" v-bind:class="{active: filterNav === 3}">
                        </button>
                    <span v-bind:class="{active: allow_wiki, hide: hide_ratios}"
                          class="ratio" v-text="ratio_wiki + 'x'"
                          title="indicates the relative frequency to other data source"></span>
                    <div class="check-mark"></div>
                </div>
            </nav>


            <div v-show="filterNav === 0" class="alignment-box">
                <div class="outer-box" title="select position of info box">
                    <!--<span>Info box position</span>-->
                    <button class="align-btn left" v-bind:class="{active: align === 1}"
                        v-on:click.prevent="setAlign(1)"></button>
                    <button class="align-btn right" v-bind:class="{active: align === 0}"
                            v-on:click.prevent="setAlign(0)"></button>
                </div>
                <!--<label for="allow_reddit">-->
                    <!---->
                    <!---->
                    <!---->
                    <!--<select name="reddit" value="reddit"-->
                           <!--v-model="align_info_box" id="align_info_box"-->
                            <!--v-on:change="queueSettingsUpdate">-->
                        <!--<option>Right</option>-->
                        <!--<option>Left</option>-->
                    <!--</select>-->
                    <!--Align info box-->
                <!--</label>-->
                <!--<filter v-for="filter in filters.all"-->
                    <!--:index="filter.index"-->
                    <!--:source="filter.source"-->
                    <!--:filter_class="filter.filter_class"-->
                    <!--:value="filter.value"-->
                    <!--:value_type="filter.value_type"-->
                    <!--:value_operand="filter.value_operand"></filter>-->
            </div>

            <div v-show="filterNav === 1">
                <label for="allow_reddit">
                    <input type="checkbox"
                           name="reddit" value="reddit"
                           v-model="allow_reddit" id="allow_reddit"
                           v-on:change="queueSettingsUpdate">
                    Enable reddit.com/r/Earth
                </label>
                <label for="contain_reddit">
                    <input type="checkbox" name="contain_reddit"
                           value="contain_reddit" v-model="contain_reddit"
                           id="contain_reddit"
                           v-on:change="queueSettingsUpdate">
                    Contain images to screen size
                </label>
                <label class="distribution" for="reddit_ratio" title="sets relative frequency for Reddit images"
                       data-toggle="tooltip"
                       v-show="allow_reddit && !not_enough_for_ratio">
                    relative frequency: {{ frequency }}
                    <input type="range"
                        id="reddit_ratio"
                        v-model="ratio_reddit"
                           v-on:change="queueSettingsUpdate"
                        min="1" max="10" step="1">
                </label>
                <div v-for="filter in filters.reddit">
                    <filter :index="filter.index"
                        :source="filter.source"
                        :filter_class="filter.filter_class"
                        :value="filter.value"
                        :value_type="filter.value_type"
                        :value_operand="filter.value_operand"></filter>
                </div>
            </div>

            <div v-show="filterNav === 2">
                <label for="allow_apod">
                    <input type="checkbox" name="apod" value="apod"
                           v-model="allow_apod"
                           v-on:change="queueSettingsUpdate"
                           id="allow_apod">
                    Enable NASA's Astromony Picture of the Day
                </label>
                <label for="contain_apod">
                    <input type="checkbox" name="contain_apod"
                           value="contain_apod" v-model="contain_apod"
                           v-on:change="queueSettingsUpdate" id="contain_apod">
                    Contain images to screen size
                </label>
                <label class="distribution" for="apod_ratio" title="sets relative frequency for APOD images"
                       data-toggle="tooltip"
                       v-show="allow_apod && !not_enough_for_ratio">
                    relative frequency: {{ frequency }}
                    <input type="range"
                        id="apod_ratio"
                        v-model="ratio_apod"
                        min="1" max="10" step="1">
                </label>
                <div v-for="filter in filters.apod">
                    <filter :index="filter.index"
                        :source="filter.source"
                        :filter_class="filter.filter_class"
                        :value="filter.value"
                        :value_type="filter.value_type"
                        :value_operand="filter.value_operand"></filter>
                </div>
            </div>

            <div v-show="filterNav === 3">
                <label for="allow_wiki">
                    <input type="checkbox" name="wiki" value="wiki"
                           v-model="allow_wiki" id="allow_wiki"
                            v-on:change="queueSettingsUpdate">
                    Enable Wikipedia's Picture of the Day
                </label>
                <label for="contain_wiki">
                    <input type="checkbox" name="contain_wiki" value="contain_wiki"
                           v-model="contain_wiki" v-on:change="queueSettingsUpdate"
                           id="contain_wiki">
                    Contain images to screen size
                </label>
                <label class="distribution" for="wiki_ratio" title="sets relative frequency for Wiki images"
                       data-toggle="tooltip"
                    v-show="allow_wiki && !not_enough_for_ratio">
                    relative frequency: {{ frequency }}
                    <input type="range"
                        id="wiki_ratio"
                        v-model="ratio_wiki"
                        min="1" max="10" step="1">
                </label>
                <div v-for="filter in filters.wiki">
                    <filter :index="filter.index"
                        :source="filter.source"
                        :filter_class="filter.filter_class"
                        :value="filter.value"
                        :value_type="filter.value_type"
                        :value_operand="filter.value_operand"></filter>
                </div>
            </div>

            <!--<div class="filter-block">-->
                <!--<input class="save" value="Save" v-model="save_copy"-->
                       <!--v-bind:class="{saved: saving}"-->
                       <!--type="submit" />-->
            <!--</div>-->
        </form>

        <div class="filter-nav">
            <h4 v-on:click="getHistory" v-show="show_main_index === 1" class="history-nav">History</h4>
            <h4 v-on:click="show_main_index = 1" v-show="show_main_index === 2" class="filter">Settings</h4>
        </div>

        <div class="history" v-show="show_main_index === 2">
            <span v-on:click="show_main_index = 0" class="close-btn large"></span>
            <h1>History</h1>
            <history v-for="(index, history) in history_items"
                :index="index + 1"
                :image_url="history.preferred_image_url"
                :permalink="history.permalink"
                :title="history.title">
            </history>
        </div>
        </main>
    </section>
</body>


<template id="filter">
    <div id="title" class="filter-type" v-if="index === 0">
        <button v-on:click.prevent="active = !active" v-show="!active">filter by phrase</button>
        <div v-show="active" class="filter-block query">
            <span class="close-btn x" v-on:click.prevent="clear"></span>
            <input type="text" name="query"
                v-bind:value="value"
                v-on:input="updateValue('value', $event.target.value)"
                v-bind:placeholder="suggestion">
               <!--v-bind:value="key_words-->
            <p class="help-text">Use comma separated keywords</p>
        </div>
    </div>
</template>

<template id="history">
    <div class="row">
        <div>{{index}}</div>
        <div><a v-bind:href="image_url">[image]</a></div>
        <div><a v-bind:href="permalink">{{title}}</a></div>
    </div>
</template>
<template id="frequency">
    <div>
    </div>
</template>
<template id="image">
    <div class="image-container">
        <!--<div class="image" v-bind:style="styleObject"></div>-->
        <img id="cached-image" v-bind:src="cached_image_url" />
        <section id="main-image" v-show="!showSettings">
            <article v-bind:class="{left: align === 1}">
                <section class="info">
                    <a :href="permalink" class="title" data-type="Permalink"> {{ title }}</a>
                    <div class="author"> {{ author }}</div>
                </section>
            </article>

            <nav v-bind:class="{left: align === 1}">
                <a v-if="is_administrator" role="link" class="administrator">Set Inactive</a>
                <span v-if="is_administrator" class="administrator-span">|</span>
                <a role="button" v-on:click.prevent="toggleHistory" class="last last-link">History</a>
                <span class="last-image-span">|</span>
                <a v-on:click.prevent="toggleSettings" class="options">Settings</a>
            </nav>
        </section>
    </div>
</template>

<script type="text/javascript" src="js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/earth.js"></script>
<script type="text/javascript" src="js/analytics.js"></script>

</html>